form{
    width: 40%;
    margin: auto;
    background-color: rgb(196, 196, 196);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 10px;
    font-family: monospace;
    border: 2px solid black;
    margin-bottom: 40px;
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#boton{
    background: #009213;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
}

#boton:hover{
    background-color: #a0f3ab;
    opacity: 0.7;
    transition: 0.3s;
}

.formh{
    color: #001011;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
